.art_box{width: 100%;overflow: hidden;background: #fff;margin-bottom: 30px;box-sizing: border-box;padding: 8px 15px;}
.set_bor{border: 1px solid #555;}
.set_jiao{border-radius: 8px;}
.set_bg{background: #eee;}

