<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<script src="../../js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					<a href=""><?php echo $art['title']; ?></a> 
				</h1>
				<!-- <p>
					This is a template for a simple marketing or informational website. 
				</p> -->
			
			</div>
			<nav class="navbar navbar-default navbar-inverse" role="navigation">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							 <a href="./index.php">首页</a>
						</li>
						<li>
							 <a href="./catlist.php">栏目列表</a>
						</li>
						<li>
							 <a href="./catadd.php">增加栏目</a>
						</li>
						<li>
							 <a href="./artlist.php">文章列表</a>
						</li>
						<li>
							 <a href="./artadd.php">增加文章</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			
			
			<div class="col-md-12 content-box" >
				<!-- <h2><a href=""><?php echo $art['title']; ?></a> </h2> -->
				<p style="margin-bottom: 10px;">
					<span>时间：<?php echo date('Y/m/d',$art['pubtime']); ?></span>
					<span style="margin-left: 20px;">所属栏目：<?php echo $art['catname']; ?></span>
					<span style="margin-left: 20px;">评论数：<?php echo $art['comm']; ?></span>
				</p>
				<?php if(isset($art['pic'])) {?>
					<img src="<?php echo $art['pic'];?>" />
				<?php }?>
				<p><?php echo $art['content']; ?></p>
			</div>
			
			<div class="col-md-12 comm">
				<h3>精彩评论</h3>
				
				<?php foreach($comms as $c) {?>
				<div class="Leave-msg-box">
					<dl>
						<dt><img src="../../images/himg.png" /></dt>
						<dd>
							<b><?php echo $c['nick'];?></b>
							<span><?php echo date('Y年m月d日 H:i',$c['pubtime']);?></span>
						</dd>
					</dl>
					<p><?php echo $c['content'];?></p>
				</div>
				<?php }?>
				
			</div>
			
			<div class="col-md-12 content-box comm-tj">
				<h3>留下你的评论</h3>
				<?php if(isset($rs) && ($rs == false)) {?>
				<p 	style="color: #ff0000;">留言发布失败</p>
				<?php }?>
				<form class="form-horizontal" role="form" action="" method="post">
				  <div class="form-group">
				    <label for="nick" class="col-sm-2 control-label">姓名</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="nick" name="nick" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="email" class="col-sm-2 control-label">邮箱</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="email" name="email" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <textarea class="form-control" name="content" rows="10" cols=""></textarea>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-primary">提交</button>
				    </div>
				  </div>
				</form>
				
				
			</div>
			
			
			
		</div>
		<div class="col-md-4 column">
			<div class="col-md-12" style="padding-bottom: 25px;">
				<div class="form-group">
					<div class="col-sm-10"><input type="email" class="form-control" /></div>
					<button class="btn btn-primary pull-right">搜索</button>
				</div>
			</div>
			
			<div class="col-md-12">

				<div class="aside">
					<h4>文章管理</h4>
					<ul>
						<li><a href="">文章列表</a></li>
						<li><a href="">发布文章</a></li>
					</ul>
				</div>
				<div class="aside">
					<h4>个人中心</h4>
					<ul>
						<li><a href="">栏目列表</a></li>
						<li><a href="">添加栏目</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
</body>
</html>